.moders {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0d1c39;
  border-radius: 5px;
  z-index: 555555;
  width: 450px;
  height: 92%;
  overflow: auto !important;
  padding: 45px 35px !important;
  padding-bottom: 70px !important;
  animation: popper 0.3s ease-in-out;
  overflow-x: hidden !important;
}
@keyframes popper {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@media screen and (max-width: 520px) {
    .moders {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .moders {
      width: 100%;
      height: 100%;
      padding: 43px 20px !important;
      padding-bottom: 80px !important;
    }
  }
