:root {
  --bg-color: #021022;
  --text-color: #fff;
  --linear-color: linear-gradient(
    135deg,
    #8a64ff 0%,
    #1e77ad 50.52%,
    #e016ff 91.67%
  );
  --input-color: #f8f8f8;
  --font-gilroy: Gilroy;
  --font-made: MADE Voyager PERSONAL USE;
  --font-xs: 12px;
  --font-small: 14px;
  --font-smid: 18px;
  --font-lg: 68px;
  --font-mid: 48px;
  --w-300: 300;
  --w-400: 400;
  --w-500: 500;
  --w-600: 600;
}
